Repository hmcts/opal-file-handler, pull requests merged in 2024-10, with the labels that each got.

#20 PO-793 DB, Flyway and TerraForm Configuration
  bin/init.sql
  build.gradle
  charts/opal-file-handler/Chart.yaml
  charts/opal-file-handler/values.dev.template.yaml
  charts/opal-file-handler/values.yaml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/reform/opal/controllers/SampleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/opal/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/opal/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/opal/openapi/OpenAPIPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/opal/config/DatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/opal/config/db/migration/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/opal/config/db/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/opal/config/db/migration/PendingMigrationScriptException.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20240924_001__db_description.sql
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-file-handler-pr-20

#17 Po 408 intial classes for file handling
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/DwpFile.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/FileContent.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/FinancialTransaction.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/OpalFile.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/StandardBankingFile.java
  src/main/java/uk/gov/hmcts/reform/opal/model/entity/AntCtAmalgamatedEntity.java
  src/main/java/uk/gov/hmcts/reform/opal/model/entity/AntMccCtEntity.java
  src/main/java/uk/gov/hmcts/reform/opal/model/entity/ChequeBankAmalgamatedEntity.java
  src/main/java/uk/gov/hmcts/reform/opal/model/entity/ChequeNumberAmalgamatedEntity.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/AntCtAmalgamatedRepo.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/AntCtAmalgamatedTemp.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/AntMccCtRepo.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/AntMccCtTemp.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/ChequeBankAmalgamatedRepo.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/ChequeBankAmalgamatedTemp.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/ChequeNumberAmalgamatedRepo.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/ChequeNumberAmalgamatedTemp.java
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-17

#26 408 amalgamatedcttransformer
  src/integrationTest/java/uk/gov/hmcts/reform/opal/BaseIntegrationTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/aspect/LogExecutionTime.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/aspect/LogExecutionTimeAspect.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/config/AutowiringSpringBeanJobFactory.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/config/CronJobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/config/QuartzConfiguration.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/exception/JobException.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/exception/JobNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/job/inbound/AutoCashJob.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/job/inbound/AutoCheckJob.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/job/outbound/AllPayArchiveJob.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/model/CronJob.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/model/JobData.java
  src/main/java/uk/gov/hmcts/reform/opal/service/AllPayArchiveService.java
  src/main/java/uk/gov/hmcts/reform/opal/service/AutoCashService.java
  src/main/java/uk/gov/hmcts/reform/opal/service/AutoCheckService.java
  src/main/java/uk/gov/hmcts/reform/opal/service/JobService.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/SftpDirection.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/SftpInboundService.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/SftpLocation.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/SftpOutboundService.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/SftpService.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/config/SftpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/config/SftpConnection.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/config/SftpProperties.java
  src/main/java/uk/gov/hmcts/reform/opal/transformer/AmalgamatedCTTransformer.java
  src/main/resources/db/migration/V20241004_002__add-quartz-tables.sql
  src/test/java/uk/gov/hmcts/reform/opal/scheduler/aspect/LogExecutionTimeAspectTest.java
  src/test/java/uk/gov/hmcts/reform/opal/scheduler/job/inbound/AutoCashJobTest.java
  src/test/java/uk/gov/hmcts/reform/opal/scheduler/job/inbound/AutoCheckJobTest.java
  src/test/java/uk/gov/hmcts/reform/opal/scheduler/job/outbound/AllPayArchiveJobTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/AllPayArchiveServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/AutoCashServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/AutoCheckServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/JobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/sftp/SftpInboundServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/sftp/SftpLocationTest.java
  src/test/java/uk/gov/hmcts/reform/opal/sftp/SftpOutboundServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/sftp/SftpServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/AmalgamatedCTTransformerTest.java
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-26

#27 Po 406 dwp file handling transformer
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/DocumentDetail.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/DocumentHeader.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/DocumentSummary.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/DwpFile.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/job/FileHandlerJob.java
  src/main/java/uk/gov/hmcts/reform/opal/scheduler/job/inbound/DwpBailiffsJob.java
  src/main/java/uk/gov/hmcts/reform/opal/service/DwpBailiffsService.java
  src/main/java/uk/gov/hmcts/reform/opal/service/FileHandlingService.java
  src/main/java/uk/gov/hmcts/reform/opal/transformer/DwpTransformer.java
  src/main/java/uk/gov/hmcts/reform/opal/util/XMLUtil.java
  src/main/resources/DwpInFile.xsd
  src/test/java/uk/gov/hmcts/reform/opal/scheduler/job/FileHandlerJobTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/DwpBailiffsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/FileHandlingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/DwpTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/util/XMLUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-27

#33 More tests and tidy up resultant file format and transformers
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/DocumentDetail.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/DocumentSummary.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/DwpFile.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/FinancialTransaction.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/StandardBankingFile.java
  src/main/java/uk/gov/hmcts/reform/opal/service/DwpBailiffsService.java
  src/main/java/uk/gov/hmcts/reform/opal/service/FileHandlingService.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/SftpLocation.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/SftpService.java
  src/main/java/uk/gov/hmcts/reform/opal/transformer/DwpTransformer.java
  src/test/java/uk/gov/hmcts/reform/opal/model/dto/StandardBankingFileTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/DwpBailiffsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/FileHandlingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/sftp/SftpLocationTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/AmalgamatedCTTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/util/XMLUtilTest.java
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-33

#36 PO-819a Remove change to migration file
  src/main/resources/db/migration/V20241004_002__add-quartz-tables.sql
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-36

#46 Filename and chequetransformations
  src/main/java/uk/gov/hmcts/reform/opal/model/FileSequence.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/OpalFile.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/StandardBankingFileName.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/AntCtBankAccountRepository.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/AntMccCtRepository.java
  src/main/java/uk/gov/hmcts/reform/opal/service/DwpBailiffsService.java
  src/main/java/uk/gov/hmcts/reform/opal/service/FileHandlingService.java
  src/main/java/uk/gov/hmcts/reform/opal/sftp/SftpLocation.java
  src/main/java/uk/gov/hmcts/reform/opal/transformer/AmalgamatedCTTransformer.java
  src/main/java/uk/gov/hmcts/reform/opal/transformer/ChequeNumberTransformer.java
  src/main/java/uk/gov/hmcts/reform/opal/transformer/DwpTransformer.java
  src/main/java/uk/gov/hmcts/reform/opal/util/DateUtil.java
  src/test/java/uk/gov/hmcts/reform/opal/service/DwpBailiffsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/FileHandlingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/AmalgamatedCTTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/AntTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/ChequeNumberTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/DwpTransformerTest.java
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-46

#47 Create all pay code table and populate
  src/main/resources/db/migration/V20241024_012__all_pay_client_code.sql
  src/main/resources/db/migration/V20241024_013__insert_all_pay_client_codes.sql
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-47

#51 Fixed pk syntax
  src/main/resources/db/migration/V20241024_012__all_pay_client_code.sql
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-51
