Repository hmcts/opal-file-handler, pull requests merged in 2024-11, with the labels that each got.

#53 PO-943 Create 2 database sequences to use for file names
  src/main/resources/db/migration/V20241031_014__create_file_name_sequences.sql
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-53

#56 410 all pay transformer
  src/main/java/uk/gov/hmcts/reform/opal/model/CashFileSequence.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/FileName.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/OpalFile.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/PaymentCardFile.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/PaymentCardFileName.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/PaymentCardRecord.java
  src/main/java/uk/gov/hmcts/reform/opal/model/dto/StandardBankingFileName.java
  src/main/java/uk/gov/hmcts/reform/opal/model/entity/AllPayClientCodeEntity.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/AllPayClientCodeRepository.java
  src/main/java/uk/gov/hmcts/reform/opal/service/ChequeFileSequenceService.java
  src/main/java/uk/gov/hmcts/reform/opal/service/DwpBailiffsService.java
  src/main/java/uk/gov/hmcts/reform/opal/service/FileHandlingService.java
  src/main/java/uk/gov/hmcts/reform/opal/transformer/AllPayTransformer.java
  src/main/java/uk/gov/hmcts/reform/opal/transformer/AmalgamatedCTTransformer.java
  src/main/java/uk/gov/hmcts/reform/opal/transformer/ChequeNumberTransformer.java
  src/main/java/uk/gov/hmcts/reform/opal/util/DateUtil.java
  src/test/java/uk/gov/hmcts/reform/opal/service/ChequeFileSequenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/AllPayTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/AmalgamatedCTTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/ChequeNumberTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/transformer/DwpTransformerTest.java
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-56

#70 Fix entity add more logging
  src/main/java/uk/gov/hmcts/reform/opal/model/entity/AntCtAmalgamatedEntity.java
  src/main/java/uk/gov/hmcts/reform/opal/service/DwpBailiffsService.java
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-file-handler-pr-70
